.masonry-grid {
  display: flex;
  margin: 0 2rem 1rem;
  width: auto;
}

.masonry-grid .card {
  margin: 1.5rem 0.75rem;
}
.masonry-grid .card:first-child {
  margin-top: 0;
}

.search-bar {
  position: relative;
  width: 70%;
  margin: 0.75rem auto;
}

.search-controls {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--bs-primary);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.search-button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .masonry-grid {
    margin-top: 1.5rem;
  }

  .search-bar {
    margin: 1.4rem auto 0.5rem;
  }
}
