.hero {
  background: url("../assets/hero.png") no-repeat center center;
  background-size: contain;
  background-color: #8ec7e7; 
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.hero p {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
}

/* Animación para la entrada */
.hero {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}
