/* Apply the custom variables */
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  margin: 0;
  font-family: "Nunito", system-ui, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Your layout classes */
.container-main {
  background-color: var(--bs-body-bg);
  padding: 0;
  flex-grow: 1;
}

.section-padding {
  padding: 2rem 0 3rem;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 2rem 5rem 3rem;
  }
}
